name: Doctests

on:
  push:
  pull_request:

jobs:
  doctest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10" # Specify the Python version you want to use

      # Install Poetry
      - name: Install Poetry
        run: curl -sSL https://install.python-poetry.org | python3 -

      # Install project dependencies using Poetry
      - name: Install dependencies
        run: poetry install --with dev

      - name: Run doctests
        run: poetry run python doctests.py # Run the doctests
